@import "tailwindcss";

@theme {
  --font-parisienne: 'Parisienne', cursive;
  --font-raleway: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-raleway);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-dots {
  background-color: #F9F9F9;
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 64px 64px;
}
